.signUp {

    border: 3px solid red;
    background-color: rgb(222, 230, 222);
    border-radius: 45px;
    padding: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    position:relative;
    left: 20px
    /* justify-content:end;
    align-content: end; */
    

}

label{
    font-style: oblique;
}

p{
    font-style: italic;
    color: red;
}

.btn{
  text-decoration: black;
  background-color: rgb(141, 108, 108);
  border:solid red ;
}